<RootPart xmlns="urn:kwsoft:mtext:tonic:dom" title="Liability" description="012 Car liability police">
 <DataDefinition></DataDefinition>
 <ModificationRights>
  <Allowed>
   <ModificationRight role="_EVERYONE_" operations="INPUT"></ModificationRight>
  </Allowed>
  <Denied></Denied>
 </ModificationRights>
 <Document>
  <Section>
   <Container>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
   </Container>
  </Section>
 </Document>
</RootPart>